<main class="content">
<h1>Лучшие сорта</h1>
	<div id="carusel">
        <ul>
		  <li><a href=""><img src="../img/best_s/1.png" alt=""><h2>BIG DUTCH BUD</h2></a></li>
		  <li><a href=""><img src="../img/best_s/2.png" alt=""><h2>BIG DUTCH BUD</h2></a></li>
		  <li><a href=""><img src="../img/best_s/3.png" alt=""><h2>BLUT ACTID AUTO</h2></a></li>
		  <li><a href=""><img src="../img/best_s/4.png" alt=""><h2>BIG DUTCH BUD</h2></a></li>
		  <li><a href=""><img src="../img/best_s/5.png" alt=""><h2>AK KUSHEXPRESS</h2></a></li>
		  <li><a href=""><img src="../img/best_s/1.png" alt=""><h2>BIG DUTCH BUD</h2></a></li>
		  <li><a href=""><img src="../img/best_s/2.png" alt=""><h2>BIG DUTCH BUD</h2></a></li>
		  <li><a href=""><img src="../img/best_s/3.png" alt=""><h2>BLUT ACTID AUTO</h2></a></li>
		</ul>
    </div>
    
    <span class="prev"></span>
        <span class="next"></span>
 
    <hr>
    <div class="baner">
    	<div class="b_left">
    		<p>Оптовым <span>покупателям</span></p>
    	</div>
    	<div class="b_center"></div>
    	<div class="b_right">
			<p>Обратный<br/><span>звонок</span></p>
    	</div>
    	<img src="../img/tel.png" alt="">
    	<div class="clear"></div>
    </div>
</main>
