<main class="content">
	<h3>Обратная связь</h3>
			<form method="post" action="obratnaya-svyaz">
			<input type="hidden" name="formid" value="Send">
			<table id="order_form">
			<tbody>
				<tr>
					<td>Ваше имя:</td>
					<td>
						<input type="text" id="name" name="name" value="">
					</td>
				</tr>
				<tr>
					<td>E-mail:</td>
					<td>
						<input type="text" id="email" name="email" value="">
					</td>
				</tr>
				<tr>
				<td>Сообщение:</td>
				<td>
						<textarea id="text" name="text"></textarea>
					</td>
				</tr>
				<tr>
					
				</tr>
				<tr>
					<td></td>
					<td>
						<img src="http://www.bulkes.cc/manager/includes/veriword.php?rand=1551549417" alt="Код проверки" border="0">
						<input type="text" name="vericode" value="">
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" name="submit" id="submit" value=" Отправить ">
					</td>
				</tr>
			</tbody></table>
			</form>
							
				<hr>
<div class="baner">
	 <div class="b_left">
		 <a href="verhnee-menyu/optovym-pokupatelyam">Оптовым <span>покупателям</span></a>
	 </div>
	 <div class="b_center"></div>
	 <div class="b_right callback_button">
	 <a href="">
		 <p>Обратная<br><span>связь</span></p>
		 <img src="../img/mail.png" class="callback_title" alt="">
		  </a>
	 </div>
	 	 <div class="clear"></div>
</div>
			</main>