<header>
	<div class="head_bg"></div>
	<div class="trava"></div>
	<div class="button_hap">
	<ul>
		<li class="active"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	</div>
	<!--
	<div class="head_ban">
		<ul>
			<li><a href=""><img src="../img/heppy_ban.png"></a></li>
			<li><a href=""><img src="../img/heppy_ban2.png"></a></li>
			<li><a href=""><img src="../img/heppy_ban.png"></a></li>
			<li><a href=""><img src="../img/heppy_ban.png"></a></li>
		</ul>
		<img src="../img/hap_next.png" class="next">
		<img src="../img/hap_prev.png" class="prev">
		       
	</div>
	-->
	<div class="header_bl">
		<div class="logo_bl">
			<img src="../img/logo.png">
		</div>
		<div class="h_menu">
			<!--
			<div class="signature">
				<img src="../img/signature.png">
			</div>
			-->
			<div class="h_menu_l">
			<h2>Автоцветущие Феминизированные</h2>
			<ul>
				<li><a href="">Blowryder</a></li>
				<li><a href="">Bongodeela</a></li>
				<li><a href="">Crazy Bum</a></li>
				<li class="active"><a href="">Godzilla</a></li>
				<li><a href="">Golden Honey</a></li>
				<li><a href="">Juicy Mama</a></li>
				<li><a href="">Laisy Daisy</a></li>
				<li><a href="">Sky Madness</a></li>
				<li><a href="">Spiritfire</a></li>
				<li><a href="">Sticky Fingers</a></li>
			</ul>
			</div>
			<div class="h_menu_r">
			<h2>Автоцветущие Регулярные</h2>
			<ul>
				<li><a href="">Blowryder</a></li>
				<li><a href="">Bongodeela</a></li>
				<li><a href="">Crazy Bum</a></li>
				<li><a href="">Godzilla</a></li>
				<li><a href="">Golden Honey</a></li>
				<li><a href="">Juicy Mama</a></li>
				<li><a href="">Laisy Daisy</a></li>
				<li><a href="">Sky Madness</a></li>
				<li><a href="">Spiritfire</a></li>
				<li><a href="">Sticky Fingers</a></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="mid_menu">
		<div id="search">
		<form action="http://">
			<input class="input_search" type="text" name="keyword" value="">
			<input class="button_search" value="" type="submit">
		</form>
	 	</div>  
		<nav>
			<ul>
				<li class="active"><a href="">Главная</a></li>
				<li><a href="/prajs.html" title="Блог">Блог</a></li>
				<li><a href="/novosti.html" title="Бонусы">Бонусы</a></li>
				<li class="last"><a href="/kontakty.html" title="Цены">Цены</a></li>
			</ul>
			</nav>
	</div>
</header>