/*************************************
Footer
**************************************/
footer{
	margin-top: 47px;
	width: 100%;
	background: url(../img/footer_bg2.png) center center no-repeat;

	.footer-block{
		margin: 0 auto;

		max-width: 1135px;
		height: 293px;
		.foot_bg{
			
			.first_bl{
				margin-bottom: 65px;
				.obout{
				padding: 70px 0 0 100px;
				float: left;
				a{
					width: 160px;
					display: block;
					text-decoration: none;
					color:  #ffffff;
					font-size: 57.35px;
					font-weight: 400;
					line-height: 55px;
					text-align: center;
					img{
						vertical-align: bottom;
					}
					span{
						margin: 0 0 5px 10px;
					}
				}
			}
			.buy{
				float: left;
				padding: 60px 0 0 200px;
				a{
					width: 300px;
					display: block;
					text-decoration: none;
					color:  #ffffff;
					font-size: 57.35px;
					font-weight: 400;
					line-height: 12.876px;
					text-align: center;
				}
			}
			}
			.sec_bl{
				.inf{
				width: 322px;
				margin-right: 280px;
				float: left;
				color:  #606060;
				font-size: 18px;
				font-weight: 400;
				text-align: left;
				
			}
			}
			.cont{
				.mail{
					float: left;
					padding-top: 25px;
					margin-right: 120px;
					span{
						margin-right: 15px;
						color:  #ffffff;
						font-size: 18px;
						font-weight: 400;
						text-align: left;
						text-transform: uppercase;
					}
					a{
						text-decoration: none;
						color:  #ffffff;
						font-size: 18px;
						font-weight: 400;
					}
				}
				
			}
			.download{
				margin-top:25px;
				padding-top: 25px;
				a{
					text-decoration: none;
					color:  #ffffff;
					font-size: 18px;
					font-weight: 400;
					padding: 13px 20px;

					background:#828164;
				}
			}
			
		}

	}
	
}


/*************************************
End footer
**************************************/
