* {
	margin: 0;
	padding: 0;
}
body
{
	color:#333;
	background:url(../img/foot_bg.png) left bottom repeat-x;
	background-color:#fcfcfc;
	font-family: 'MyriadProRegular';
}
.clear{
	clear:both;
}

ul{
	li{
		list-style-type: none;
	}
}
/***************HEADER********************/
header {
	max-width: 1920px;
	margin:0 auto;
	background: url(../img/header_bg.png) center center no-repeat;
	height: 843px;
	margin-bottom: -120px;
	.trava{
		    width: 100%;
		    height: 416px;
		    background: url(../img/trava.png) center center no-repeat;
		    position: absolute;
		    left: -547px;
		    top: 447px;
		    z-index: 1;
	}
	.button_hap{
		position:relative;
		width: 1135px;
		ul{
			position:absolute;
			top: 90px;
    		left: 65px;
			li{
				display: inline-block;
  				margin: 5px;
  				width: 15px;
  				height: 15px;
 				background: #f2f2f2;
  				cursor: pointer;
  				border-radius: 50%;
				opacity: 0.6;
			}
			.active{
				background: #3d3d2f;
				opacity: 1.0;
			}
			
		}
	}
 	.head_ban{
 		position:absolute;
 		top:0;
 		width: 670px;
 		height: 685px;
 		overflow: hidden;
 		margin-left: 50px;
 		ul{
 			width: 1500px;
 			display: block;
			height: inherit;
			position: absolute;
			left: 0;
 			li{
 				float: left;
 				display: table;
 			}
 		}
 			.prev, .next{
				display: block;
				position: absolute;
				z-index: 9;
				cursor: pointer;
				top:315px;
	}
		.next{
		right:0;
	}
	.prev{
		left:0;
	}
	.next_bg{
		background: #fcfcfc;
		right:0;
		top:240px;
	}
 	}
  .header_bl{
	max-width: 1135px;
	height: 585px;
	margin: 0 auto;
	position: relative;
	z-index:5;

	.logo_bl{
		height: 41px;
		padding-top: 300px;
		text-align: center;
	}
	.h_menu{
		position: absolute;
		right: 0;
		top:0;
		.signature{
			text-align: right;
			margin: 10px 0 20px;
		}
		.h_menu_l{
			width: 265px;
			float: left; 
			color: #151210;
			margin-right: 20px;
			text-align: right;
			h2{
				font-size: 30px;
				margin-bottom: 40px;
				font-weight: normal;
			}
			ul{
				
				li{
					font-size: 24px;
					font-weight: 400;
					line-height: 30px;
					a{
						text-decoration: none;
						color: inherit;
						&:hover{
							color:#fff;
						}
					}
				}
				.active a{
					color:#ffffff;
				}
			}
			
		}
		.h_menu_r{
			width: 190px;
			float: left;
			color: #151210;
			h2{
				font-size: 30px;
				margin-bottom: 40px;
				font-weight: normal;
			}
			ul{
				
			
				li{
					font-size: 24px;
					font-weight: 400;
					line-height: 30px;
					a{
						text-decoration: none;
						color: inherit;
						&:hover{
							color:#fff;
						}
					}
				}
				.active a{
					color:#ffffff;
				}
			}
				}
	}
  }

	.mid_menu{
		width: 1135px;
		margin:0 auto;
		text-align: right;
		z-index:5;
		position:relative;
		#search{
			display: inline-block;
			outline: none;
			max-width:240px;
			height:37px;
			background: #fff;
			margin-top: 10px;
				
			::-webkit-input-placeholder{
				color: #333;
				text-transform: uppercase;
				font-size: 12px;
			}
			::-moz-placeholder{ /* Firefox 19+ */
				color: #333;
				text-transform: uppercase;
				font-size: 12px;
			}
			:-ms-input-placeholder{
				color: #333;
				text-transform: uppercase;
				font-size: 12px;
			}
			:-moz-placeholder{ /* Firefox 18- */
				color: #333;
				text-transform: uppercase;
				font-size: 12px;
			}
			
			input[type="text"]{
				font-family: GothamProLight;
				font-size: 20px;
				width:84%;
				padding: 6px 0;
				color: #333;
				outline: none;
				border-bottom: 3px dotted #cdc8b9;
				border-top: none;
				border-right: none;
				border-left:none; 
				background: none;
				}
			input[type="text"]:focus{
					
			}
			input[type="submit"]{
				border: none;
				background: url(../img/search.png) no-repeat center center;
				display: block;
				width: 37px;
				height: 37px;
				cursor: pointer;
				text-indent: -9999px;
				float: right;
				
			}
		}
		nav{
			margin:30px 15px 0 0;
			
			ul{
				li{
					*display: inline !important;
					display: inline-block;
					padding: 0 15px;
					a{
						text-decoration: none;
						color:  #151210;
						font-size: 19.59px;
						font-weight: 400;
						line-height: 30px;
						text-align: right;
						text-transform: uppercase;
					}
				}
			}
		}	






	}
}


